<form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" @fadeIn>
  <h1>Login</h1>
  <mat-grid-list
    [style]="isXSmall ? 'width: 20rem' : 'width: 30rem'"
    [cols]="isXSmall ? 1 : 2"
    [rowHeight]="isXSmall ? '4:1' : '3:1'"
    gutterSize="10px"
  >
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput required type="text" formControlName="email"/>
        <mat-error *ngIf="emailError">{{ emailError }}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput required type="password" formControlName="password"/>
        <mat-error *ngIf="passwordError">{{ passwordError }}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <button
    style="align-self: end"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="isLoading.value"
  >Login</button>
</form>
