<mat-progress-bar mode="query" *ngIf="isVerifyLoading.value"/>
<h2 mat-dialog-title>Verification</h2>
<mat-dialog-content>
  <form id="verifyForm" [formGroup]="verifyForm" (ngSubmit)="submitVerifyForm()">
    <mat-form-field>
      <mat-label>Verify Code</mat-label>
      <input matInput required type="text" maxlength="4" formControlName="verifyCode"/>
      <mat-error *ngIf="codeError">{{ codeError }}</mat-error>
    </mat-form-field>
  </form>
  <button mat-button class="tertiary-button" style="align-self: end" (click)="submitResendCode()" [disabled]="isResendLoading.value">
    @if (isResendLoading.value) {
      <mat-spinner diameter="20"/>
    } @else {
      Resend code
    }
  </button>
  <div>
    <mat-icon>info</mat-icon>
    <h6 style="margin: 0">{{ dialogData.message }}</h6>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button form="verifyForm" type="submit" [disabled]="isVerifyLoading.value">Verify</button>
</mat-dialog-actions>
