.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.inner {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.text {
  margin-bottom: 0;
}
mat-divider {
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
}

@media (max-width: 600px) {
  .inner {
    flex-direction: column;
  }
  mat-divider {
    width: 100%;
  }
}
