.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-divider {
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
}
