@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat.core();

$light-hue: 500;
$dark-hue: 600;

$primary: mat.$purple-palette;
$accent: mat.$blue-grey-palette;
$warn: mat.$deep-orange-palette;

@function color ($palette, $hue) {
  @return mat.define-palette($palette, $hue);
}

$light-theme: mat.define-light-theme((
  color: (
    primary: color($primary, $light-hue),
    accent: color($accent, $light-hue),
    warn: color($warn, $light-hue)
  ),
  typography: mat.define-typography-config(),
  density: 0
));
$dark-theme: mat.define-dark-theme((
  color: (
    primary: color($primary, $dark-hue),
    accent: color($accent, $dark-hue),
    warn: color($warn, $dark-hue),
  )
));

@include mat.all-component-themes($light-theme);

@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors($dark-theme);
}
