<form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">
  <h1 class="mat-headline-3">Create Account</h1>
  <div class="form-fields-div">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput required type="text" formControlName="firstName"/>
      <mat-error *ngIf="firstNameError">{{ firstNameError }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput required type="text" formControlName="lastName"/>
      <mat-error *ngIf="lastNameError">{{ lastNameError }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput required type="text" formControlName="email"/>
      <mat-error *ngIf="emailError">{{ emailError }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput required type="password" formControlName="password"/>
      <mat-error *ngIf="passwordError">{{ passwordError }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput type="text" prefix="+998 "  mask="00 000 00 00" formControlName="phoneNumber"/>
      <mat-error *ngIf="phoneNumberError">{{ phoneNumberError }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="MM/dd/yyyy" formControlName="birthDate">
      <mat-error *ngIf="birthDateError">{{ birthDateError }}</mat-error>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="buttons-div">
    <a mat-button routerLink="/sign-in">Sign in</a>
    <button mat-flat-button type="submit" [disabled]="isLoading">Next</button>
  </div>
</form>
