<div class="container">
  <mat-progress-bar mode="query" *ngIf="isLoading"/>
  <div [class]="isXSmall ? 'inner-xsmall-container' : 'inner-container'">
    @if (isLoginForm) {
      <app-login-form/>
    } @else {
      <app-register-form/>
    }
    <mat-divider [class]="isXSmall ? 'mat-xsmall-divider' : 'mat-divider'" [vertical]="!isXSmall"/>
    <div
      [style]="isXSmall ? 'width: 20rem' : 'width: 30rem'"
      [class]="isXSmall ? 'social-xsmall-container' : 'social-container'"
    >
      <app-google-button/>
      <app-facebook-button/>
    </div>
  </div>
  <button style="margin-top: 1rem" mat-button [disabled]="isLoading" (click)="switchForm()">
    Go to {{ isLoginForm ? 'register' : 'login' }}
  </button>
</div>
